<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TaskFlow.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<RadzenPanelMenu>
    <RadzenPanelMenuItem Text="Home" Icon="home" Path="/"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Tasks" Icon="home">
        <RadzenPanelMenuItem Text="Task List" Match="NavLinkMatch.Prefix" Path="/tasks"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Add Task" Match="NavLinkMatch.All" Path="/tasks/add"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
</RadzenPanelMenu>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
