@page "/tasks"
@using TaskFlow.Shared.Todos

<h1>Task List</h1>

<RadzenDataGrid TItem="TodoDto" Data="@Tasks">
    <Columns>
        <RadzenDataGridColumn TItem="TodoDto" Property="Title" Title="Title" />
        <RadzenDataGridColumn TItem="TodoDto" Property="Description" Title="Description" />
        <RadzenDataGridColumn TItem="TodoDto" Property="DueDate" Title="Due Date" />
        <RadzenDataGridColumn TItem="TodoDto" Property="Priority" Title="Priority" />
    </Columns>
</RadzenDataGrid>

@code {
    List<TodoDto> Tasks { get; set; }

    protected override void OnInitialized()
    {
        Tasks = new();
    }
}
