@page "/tasks"
@using TaskFlow.Shared.Todos

@inject TodoService TodoService

<h1>Task List</h1>

@if (Tasks is null){
    <p>Loading...</p>
}
else
{
    <RadzenDataGrid TItem="TodoDto" Data="@Tasks">
        <Columns>
            <RadzenDataGridColumn TItem="TodoDto" Property="Title" Title="Title" />
            <RadzenDataGridColumn TItem="TodoDto" Property="Description" Title="Description" />
            <RadzenDataGridColumn TItem="TodoDto" Property="DueDate" Title="Due Date" />
            <RadzenDataGridColumn TItem="TodoDto" Property="Priority" Title="Priority" />
        </Columns>
    </RadzenDataGrid>
}

@code {
    public List<TodoDto> Tasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Tasks = await TodoService.GetTodosAsync();
    }
}
